<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253123004666-9qn4s0fj38jcojmd8si79ucfo2287f5u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253123004666-9qn4s0fj38jcojmd8si79ucfo2287f5u</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ75K6sx3_UZYiWcxf4MUD9RlrJF4hZBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>253123004666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filePikerStorageFirebase</string>
	<key>PROJECT_ID</key>
	<string>image-pictured-x-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>image-pictured-x-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253123004666:ios:24ac07784fc1849e1ee143</string>
</dict>
</plist>